.port-thumb{
	border-width:8px;
	border-style:solid
	border-color: #343f59;
/*	background-color: #343f59;*/
}
h2{
	font-weight: 250;
	font-size: 26px;
	font-family: avenir, sans-serif;
	font-color: #3a576d;
	
}


h1{
	font-weight: 300;
	font-size: 36px;
	font-family: avenir, sans-serif;
	font-color: #3a576d;
}

.page-header{
	font-weight: bold;
	font-size: 36px;
	font-family: avenir, sans-serif;
	font-color: #3a576d;
	text-align: left;
}

body{
	background-color:white;
}

.jumbotron{
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: white;
}

.banner{
	align-items: center;
	opacity: .8;
}

p{
	color: #3a576d;
	font-family: avenir, sans-serif;
	text-align: left;
}

/*.navbar-brand{
	background-color:#343f59;
}*/
/* navbar */
/*.navbar-default {
    background-color: #343f59;
    border-color: #E7E7E7;
}*/

/*.navbar{
	background-color:#343f59;
}*/

/*.presentation{
		background-color:#343f59;
}
.navbar navbar-inverse{
	background-color: #343f59;
}*/