.port-thumb{
	border-width:8px;
	border-style:solid
	border-color: #343f59;
/*	background-color: #343f59;*/
}


.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

h3{
    font-size: 25px;
    font-weight: bold;
    font-family: avenir, sans-serif;
}


h4{
	font-size: 25px;
    font-weight: bold;
    font-family: avenir, sans-serif;
    margin-left: 2%;
    color: #0d8573;

}


h2{
	font-weight: 250;
	font-size: 26px;
	font-family: avenir, sans-serif;
	font-color: #3a576d;
	
}


h1{
	font-weight: 300;
	font-size: 36px;
	font-family: avenir, sans-serif;
	font-color: #3a576d;
}

.page-header{
	font-weight: bold;
	font-size: 36px;
	font-family: avenir, sans-serif;
	font-color: #3a576d;
	text-align: left;
}

body{
	background-color:white;
}

.jumbotron{
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: white;
}

.banner{
	align-items: center;
	opacity: .8;
}

p{
	color: #3a576d;
	font-family: avenir, sans-serif;
	text-align: center;
	text-size: 13pt;

}



/*.navbar-brand{
	background-color:#343f59;
}*/
/* navbar */
/*.navbar-default {
    background-color: #343f59;
    border-color: #E7E7E7;
}*/

/*.navbar{
	background-color:#343f59;
}*/

/*.presentation{
		background-color:#343f59;
}
.navbar navbar-inverse{
	background-color: #343f59;
}*/