.port-thumb{
	border-width:8px;
	border-style:solid
	border-color: #343f59;
}
h2{
	font-weight: 250;
	font-size: 26px;
	font-family: avenir, sans-serif;
	
}

body{
	background-color:#343f59;
}

.jumbotron{
	padding-top: 12px;
	padding-bottom: 15px;
	background-color: #343f59
}

p{
	color: white;
	font-family: avenir, sans-serif;
}
